<div class='post'>
	<div class='timestamp span1'>
		<h5><%= @post.created_at.in_time_zone('Singapore').strftime('%l:%M%p') %></h5>
	</div>
	<div class='content span5'>
		<p>
		   <%= @post.post %> 
		</p>
		<p>
			<%= link_to 'action!', new_post_action_path(@post), :class => 'action-link' %> |
			<%= link_to 'delete', post_path(@post), :method => :delete , :confirm => "Are you sure?" , :remote => true  %>
		</p>
	</div>
</div>

