<%= link_to "Account", edit_user_registration_path %>
<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>

<%= link_to "Create New Iterable", new_iterables_path %>

<% for iterable in @iterables %>
	<p><%= link_to iterable.name, iterable_path(iterable)  %></p>
<% end %>
