// Place all the styles related to the iterables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.span6.offset3 {
	position:relative;
}

div.header {
	position: relative;
}

hr {
	margin-top: 0;
}

a.btn-primary.btn-medium {
	position: absolute;
	top: 0.5em;
	right: 0;
}

a.btn-primary.btn-medium.header {
	margin-right: 8.5em;
}

ul#iterables {
	margin: 0;
}

li.iterable {
	font-size: 1.4em;
	margin-top: 1em;
	list-style: none;
}

div.list-header {
	font-size: 1em;
	line-height: 1.5em;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

div.timestamp.span1 {
	margin-left: 0;
}

div.timestamp.span1 h5 {
	margin-top: 0.5em;
}

div.content.span5 {
	margin-left: 0;
	margin-top: 0.5em;
}

div.content.span5 p {
	position: relative;
}

input.btn.btn-info.pull-right {
	margin-left: 80%;
}

div.side-column.well.span2 {
	position: absolute;
	right: -17em;
	top:0;
	margin-top: 2em;
}

div.inner-container {
	position: relative;
	padding-right: 0.5em;
}

a.delete-button {
	position: absolute;
	top: 0;
	right: 0;
}

div.new-user-button {
	margin-bottom: 0.8em;
}